<p *ngIf="!AllReqests">Loading....</p>


<table class="text-center container table table-striped" *ngIf="AllReqests" >
 <thead>
    <th>Request Text</th>  
    <th>Date</th>
    <th>Status</th>
    <th>ProviderName</th>
    <th>UserName</th>
 </thead>
 <tbody>
    <tr *ngFor="let service of AllReqests" #e>
      <td *ngIf="service.requestText.length<=52">{{service.requestText}}</td>
      <td *ngIf="service.requestText.length>52">{{service.requestText.substring(0,50)}} ......</td>
      <td>{{service.date | date : "medium"}}</td>
      <td>{{service.status}} EGP</td>
      <td>{{service.providerDetails.providerName}}</td>
      <td>{{service.userDetails.userName}}</td>
      <td>
      <!-- <a class="btn btn-info me-md-4" [routerLink]="'/service/'+service.id">Details</a>
      <a class="btn btn-success me-md-4" (click)="Approve(service.id)">Approve</a> -->
      <a class="btn btn-primary me-md-4" (click)="Details(service.id)"> Show  </a>
      <a class="btn btn-danger me-md-4" (click)="DeleteRequest(e,service)"> Delete </a>
      <a class="btn btn-danger me-md-4" (click)="(changeStatus('Rejected',service))">Reject</a>
      </td>
    </tr>
 </tbody>
</table>