<div class="Rating_Comment card-body p-4" [hidden]="!AddingStatus">
    <hr/>
    <div class="d-flex flex-start">
      <div>
        <h6 class="fw-bold mb-1">
          {{userName}}
        </h6>
        <span class="text-muted small mb-0">
          {{ratingDate | date : "medium"}}
         </span>

         <span class="text-muted small mb-0">
          <app-star-rating [rating]="rating"></app-star-rating>
        </span>
        
        <p class="mb-0">
          {{comment}}
        </p>
      </div>
    </div>
    <div class="float-end mt-2 pt-1 pb-3">
        <button class="btn btn-primary" (click)="deleteRating()">Remove</button>
    </div>
  </div>


    
<div class="Insert_Comment_And_Rating card-footer py-3 border-0" style="background-color: white;"
[formGroup]="ratingGroup" [hidden]="checkUserId || ratingId!=undefined || AddingStatus">
    <div class="d-flex flex-start w-100">
      <div class="form-outline w-100">
        <igc-rating  formControlName="rating" value="ratingVal" min="1" max="5" (igcChange)="ratingChanged($event)"></igc-rating>
        <textarea class="form-control" formControlName="comment" id="textAreaExample" rows="4"></textarea>
      </div>
    </div>
    <div class="float-end mt-2 pt-1 pb-3">    
<button [disabled]="this.ratingGroup.value.rating ==0 || this.ratingGroup.value.comment ==''"
class="btn btn-primary" (click)="addRating()">Send</button>
    </div>
  </div>

  


