<body *ngIf="IsAdmin" >
    <div class="d-flex align-items-center flex-column">
      <div [hidden]="!IsManger" class="d-flex justify-content-between" style="width: 90%;">
        <div class="cardMini" *ngIf="IsManger">
          <app-register></app-register>
        </div>
        <div class="cardMini" *ngIf="IsManger">
          <app-adminlist></app-adminlist>
        </div>
      </div>
      <div class="card">
        <app-userlist></app-userlist>
      </div>
      <div class="card">
        <app-category-page></app-category-page>
      </div>
      <div class="card">
        <app-services-list></app-services-list>
      </div>
      <div class="card">
        <app-request-list></app-request-list>
      </div>
    </div>
   
    
</body>
<h1 *ngIf="!IsAdmin">
    You are not allowed to access this page
</h1>
